data/*
data_for_snic/*
data/elephant_hill/*
materials/*
outputs/*
README_local_only.md
snic_results/**
swin-transformer-pytorch/*
Swin-Transformer-Semantic-Segmentation/*
**/__pycache__/**
.vscode/**
